image: Visual Studio 2017

environment:
  
  matrix:
  - solution_path: Source\ProblemSet01\ProblemSet01\ProblemSet01.sln
  - solution_path: Source\ProblemSet02\Task-2.1\Task-2.1.sln
  - solution_path: Source\ProblemSet02\Task-2.3\Task-2.3.sln
  - solution_path: Source\ProblemSet03\Task-3.1\Task-3.1.sln
  - solution_path: Source\ProblemSet03\Task-3.2\Task-3.2.sln
  - solution_path: Source\ProblemSet04\Task-4.1\Task-4.1.sln
  - solution_path: Source\ProblemSet04\Task-4.2\Task-4.2.sln
  - solution_path: Source\ProblemSet06\Task-6.1\Task-6.1.sln
  - solution_path: Source\ProblemSet06\Task-6.2\Task-6.2.sln
  - solution_path: Source\ProblemSet07\Task-7.2\Task-7.2.sln
  - solution_path: Source\ProblemSet08\Task-8.1\Task-8.1.sln
  
before_build:
  - nuget restore %solution_path%

build_script:
- msbuild %solution_path%
