image: Visual Studio 2017

environment:
  
  matrix:
  - solution_path: Source\ProblemSet01\ProblemSet01\ProblemSet01.sln
  - solution_path: Source\ProblemSet02\Task-2.3\Task-2.3.sln

before_build:
  - nuget restore %solution_path%

build_script:
	- msbuild %solution_path%